* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
    gap: 20px;
    background: teal;
}

h4 {
    text-align: center;
}

#productForm {
    background: rgb(255, 149, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

label {
    margin-left: 20px;
}

input,
select {
    width: 400px;
    margin: auto;
    padding: 6px;
}

#submit {
    width: 100px;
    margin: auto;
    padding: 5px;
    margin-left: 250px;
}

.groupBtn {
    display: flex;
}

a {
    margin: auto;
}

#back {
    background: teal;
    padding: 5px;
    width: 100px;
    margin: auto;
    border: none;
    position: absolute;
    margin-top: -68px;
    margin-left: -140px;
}